@{
    ViewData["Title"] = "My Podcasts";
}

@*Pdcast page*@
<h1>Welcome to my FAV PODASTSSSS</h1>
<h3>#1 ismy fav called Baconsale</h3>
<a href="https://baconsale.com/">This is the link to BACONSALE</a>